html{
    font-family: 'Open Sans', sans-serif;
}




/*--Header/Navigation--*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    box-shadow: 1px 1px 15px #8f8f8f;
}

.social{
  display: flex;
  flex-direction: column;
  border-right: 1px solid;
  border-left: 1px solid;
  min-width: 120px;
}

.social img{
  width: 30%;
}

.social a{
  text-align: center;
}

.mylogo{
  width: 70%;
  min-width: 170px;
}


.navigation {
	display: block;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 10px;
	text-align: right;
	text-decoration: none;
	color: black;
	transition: 0.4s;
	font-size: 14px;
	border-radius: 10px;
}

.navigation a:hover {
	color: white;
	background-color: #b8b8b8;
	
}	

.responsive li {
	display: block;
}

a.hamburger{
  font-size: 20px;
}

/*--Main--*/

.wrapper{
  padding: 20px;
}

.greeting-box{
  display: grid;
  background: lightgrey;
  gap: 15px;
  padding: 80px;
  box-shadow: 0px 0px 15px 2px #8f8f8f;
}

body{
    margin: 0;
}

.section1 {
  display: grid;
  justify-items: center;
  padding: 0;
  margin-top: 3em;
  margin-bottom: 5em;
}

.section1-img{
  grid-row: 1;
  width: 100%;
}

.greeting-box{
  text-align: center;
  justify-items: center;
}

.homepage-greeting-1{
  font-size: 20px;
}

.homepage-greeting-2{
  font-size: 14px;
}
  
.homepage-reserve{
background: #383838;
border-radius: 10px;
color: white;
text-align: center;
padding: 18px;
text-decoration: none;
width: 250px;
font-size: 14px;
}

.homepage-reserve:hover{
transition: .5s;

font-size: 20px;
background-color: rgb(92, 92, 92);
}

.mySlides.fade{
  text-align: center;
}

.mySlides.fade img{
  width: 80%;
}

.weather-strip{
    display: flex;
    gap: 3em;
    margin-bottom: 2em;
    background-color: #f0f0f0;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 12px;
    box-shadow: inset 0px 0px 12px #8f8f8f;
}

div.temp{
  font-size: 20px;
}

.weather-title{
  margin-top: 2em;
  text-align: center;
  font-size: 25px;
  background-color: #f0f0f0;
}

.weather-desc-box{
  align-items: center;
  text-align: center;
}

.temp{
  font-size: 30px;
}


.weathericon{
  width: 100px;
}

.tri-container{
  display: flex;
  text-align: center;
  margin-bottom: 5em;
  justify-content: center;
}

.tri-container .box1, .box2, .box3{
  padding: 35px;
  margin: 20px;
  border: 1px solid #898989;
  border-radius: 20px;
  width: 350px;
  text-decoration: none;
  color: black;
}

.box3{
  display: none;
 }

.tri-container .box1:hover, .box2:hover, .box3:hover{
  background-color: lightgrey;
  font-size: larger;
  transition: .2s;
}

.tri-container img{
  width: 120px;
  
}

footer{
    display: flex;
    padding: 3em;
    gap: 3em;
    text-align: center;
    background-color: #f0f0f0;
    align-items: center;
    box-shadow: 0px -1px 15px 0px #8f8f8f;
}


/*--Temple Card CSS--*/

.section2 section>img{
    width: 30%;
}

.section2 section{
    display: grid;
    justify-items: center;
}



/*--Slide Show Box--*/

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    box-shadow: 0px 0px 15px 0px #8f8f8f;
  }
  
  .mySlides {
    display: none;
  }
  

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: #8a8a8a;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


/*--Reservation Page--*/
.reservation-title{
  text-align: center;
  margin-top: 2em;
  background: lightgrey;
  box-shadow: 0px 0px 5px 2px #8f8f8f;
  padding: 25px;
}

select:invalid{
    color: gray;
}

option:invalid{
  color: gray;
}

option{
    color: black;
}

.reservation-form{
    display: flex;
    justify-content: center;
    text-align: right;
    margin-bottom: 6em;
    margin-top: 6em;
}

.form-section1{
    display: grid;
    gap: 2em;
}

.stayDesc-box{
    display: grid;
    gap: .5em;
    margin-top: 1em;
    text-align: center;
}

.submitbttn{
    text-align:center;
}

.thankyou-comment{
  text-align: center;
  font-size: 18px;
  padding: 5em;
  position: relative;
}

.background-img{
  background-image: url("bedroom.jpg");
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*--Temples page--*/

.temples-title{
  text-align: center;
  margin-top: 3em;
  background: lightgrey;
  box-shadow: 0px 0px 5px 2px #8f8f8f;
  padding: 25px;
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 8em;
  margin-bottom: 5em;
  padding: 35px;
}

.grid img{
  width: 100%;
  border: 5px solid lightgray;
}

.grid section{
  display: grid;
  justify-items: center;
  padding: 50px;
  box-shadow: 0px 0px 20px;
  gap: 1em;
  border: 5px solid lightgray;
  align-content: space-evenly;
}

.grid p:nth-child(odd){
  background-color: lightgray;
}

.grid section>p1, p2, p3, p4, p5{
  font-size: 14px;
  width: fit-content;
}

.grid section>img{
  transition: filter 1.5s;
  transition: .5s;
  padding: 15px;
}

.grid section>img:hover{
  filter: blur(.1em ) grayscale(50%);
  transition: .5s;

}


/*--Services Page--*/
.services{
  position: relative;
  padding: 25px;
  
}

.amenities{
  position: relative;
  padding: 25px;
  
}

.link-bar{
  display: flex;
  justify-content: center;
  gap: 2em;
  padding: 25px;
  background-color: lightgray; 
}

.link-bar a{
  text-decoration: none;
  color: black;
}

.link-bar a:hover{
  color: white;
}