@charset 'utf-8';

header {
    display: flex;
    align-items: center;
    background-color: rgb(75, 17, 17); 
    box-shadow: 0px 0px 30px;
    margin-top: 2em; 
}


img {
    max-width: 100%;
    height: auto;
    margin: 35px;
    border-radius: 2em;
    box-shadow: 0px 0px 20px;
}


h1 {
    color: white; 
    font-size: 25px;
    
}


body {
    max-width: 800px;
    margin:auto;
    font-family: 'Barlow', 'sans-serif';
    font-size: 16px;
}


main{
    display: flex;
    flex-direction: column;
    border-radius: 3em;
}


h2 {
    border-bottom: 1px solid;
    font-size: 20px; 
}


p {
    font-size: 15px;
}


.disclaimer{
    font-size: 18px;
    border-top: 1px solid;
}


footer{
    display: grid;
    background-color: rgb(75, 17, 17);
    margin-top: 2em;
    padding: 25px;
    text-align: center;
    color: white;
    font-size: 20px;
    box-shadow: 0px 0px 20px black;
}


.update{
    font-size: 16px;
    color: yellow
}

