@media only screen and (min-width: 64rem) {

	#greetbanner{
		font-size: larger;
	}


	.mainpic{
		width: 100%;
	}

	nav{
		width: 1150px;
	}

	.navigation {
		display: flex;
		padding: 0;
		grid-column: 4;
		margin: 1em;
		background-color: #93ceff;
		border-radius: 10px;
	}
	.navigation li {
		display: block; 
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
		font-size: 25px;
		margin: .5rem;
	}
	.navigation li:first-child {
		display: none;
	}
	
	.logo{
		width: auto;
		height: auto;
	}

	.facebook, .linkedIn{
		width: 35px;
	}
	
	header{
		display: flex;
	}

	.title{
		font-size: 120%;
	}


	.wrapper{
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 300px);
	}

	.hero{
		grid-column: 2/4;
		grid-row: 1/3;
		border: 2px solid rgb(129, 129, 129);
		margin: 0.5em;
	}

	.welcome{
		top: 35px;
		left:50px;
		font-size: 40px;
	}

	.event{
		display: block;
		justify-content: center;
		align-items: center;
		text-align: center;
		grid-column: 1;
		grid-row: 1;
	}

	.eventDes {
		font-size: 16px;
	}

	.eventTitle{
		font-size: x-large;
	}

	.westfestlogo {
		padding: 10px;
	}


	.weather{
		grid-column: 1;
		grid-row: 2;
	}

	.weatherTitle{
		font-size: x-large;
	}

	.wvcweather {
		width: auto;
	}
	
	.join{
		display: block;
		justify-content: center;
		align-items: center;
		text-align: center;
		grid-column: 1;
		grid-row: 3;
	}
	
	.joinBttn {
		padding: 28px;
		border-color: #467de4;
    	background-color: #eeee;
		font-size: x-large;
	}

	.joinDes{
		padding: 0;
		font-size: medium;
	}

	.news{
		grid-column: 2/4;
		grid-row: 3;
		
	}

	.newsTitle1{
		font-size: x-large;
	}

	.newsTitle2{
		padding: 30px;
	}
	
	.joinchamber {
		top: 460px;
		right: 40px;
		padding: 25px;
		font-size: 24px;
		font-weight: bold;
	}

	.spotlightbox{
		grid-template-columns: 1fr;
		grid-column: 4;
		grid-row: 1/4;
		margin: .5em;
		padding: 20px;
		gap: 10px;	
	}

	.spotlight1, .spotlight2, .spotlight3{
		width: auto;
		height: 250px;
	}

	.spotlightbox div:nth-child(3){
		display: block;
	}

	.spot1Des{
		width: min-content;
	}

	.webdev{
		padding:20px;
	}

	footer{
		font-size: 20px;
	}

	.f_heading1{
		padding-right: 10rem;
	}

	.copyright{
		font-size: large;
	}





	




}