@media only screen and (min-width: 64rem) {

	.navigation {
		display: flex;
		padding: 0;
		grid-column: 4;
		margin: 0 auto;
		max-width: 760px;
		background-color: #863b3b;
		border: 1px solid #863b3b;
		border-radius: 10px;
		padding: -1em;
	}

	.navigation li {
		display: block; 
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
		font-size: 25px;
		margin: 1.75rem;
	}
	.navigation li:first-child {
		display: none;
	}
	
	.logo{
		width: 225px;
	}

	.facebook, .linkedIn{
		width: 40px;
	}
	
	header{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.title{
		margin-left: 3em;
		font-size: 100%;
	}

	.wrapper{
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(3, 300px);
		margin: 1.75em;
	}

	.hero{
		grid-column: 2/4;
		grid-row: 1/3;
	}

	.event{
		display: block;
		justify-content: center;
		align-items: center;
		text-align: center;
		grid-column: 1;
		grid-row: 1;
	}

	.eventDes {
		font-size: 16px;
	}

	.westfestlogo {
		padding: 0;
	}


	.weather{
		grid-column: 1;
		grid-row: 2;
	}
	
	.join{
		display: block;
		justify-content: center;
		align-items: center;
		text-align: center;
		grid-column: 1;
		grid-row: 3;
	}
	
	.joinBttn {
		padding: 15px;
		border-color: #e44646;
    	background-color: #eeee;
		font-size: x-large;
	}

	.joinDes{
		padding: 0;
		font-size: medium;
	}

	.news{
		grid-column: 2/4;
		grid-row: 3;
	}
	
	.joinchamber {
		top: 150px;
		right: 50px;
		padding: 1.5rem;
		font-size: x-large;
		font-weight: bold;
	}

	.spotlightbox{
		grid-template-columns: 1fr;
		grid-column: 4;
		grid-row: 1/4;	
	}

	.spotlightbox div:nth-child(3){
		display: block;
	}

	footer{
		font-size: 20px;
	}

	.f_heading1{
		padding-right: 10rem;
	}

	.copyright{
		font-size: large;
	}





	




}