@media only screen and (min-width: 35em) {
	
	.navigation{
		display: block;
	}

	.navigation a{
		font-size: 20px;
		margin: 0;
	}

	header{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 1fr;
	}

	body{
		width: auto;
	}
	
	#greetbanner{
		font-size: large;
	}
	

	nav{
		grid-column: 4;
	}

	.social{
		grid-column: 3;
		grid-row: 1;
	}
	.title{
		font-size: 80%;
	}

	.wrapper{
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(5, 250px);
	}

	.hero{
		grid-column: 1/5;
		grid-row: 1;
	}

	.news{
		grid-column: 1/5;
		grid-row: 2;
	}

	.spotlightbox{
		grid-template-columns: 1fr 1fr;
		grid-column: 1/5;
		grid-row: 3;
	}

	.spotlight1, .spotlight2{
		width: auto;
		height: 180px;
	}

	.spot1Des{
		width: 180px;
	}

	.webdev{
		padding: 0;
	}

	.join{
		display: block;
		justify-content: center;
		align-items: center;
		text-align: center;
		grid-column: 1/5;
		grid-row: 4;
		padding: 3em;
	}

	.joinBttn {
		border: 3px solid;
		border-radius: 25px;
		border-color: #e44646;
		background-color: #eeee;
		font-size: large;
		font-style: italic;
		padding: 15px;
		margin: 1em;
	}

	.joinDes {
		font-style: italic;
		font-size: large;
		padding-top: 2em;
		
	}	

	.event{
		display: flex;
		grid-column: 1/3;
		grid-row: 5;
	}

	.westfestlogo {
		padding: 1em;
	}

	.eventDes {
		font-size: larger;
	}

	.weather{
		grid-column: 3/5;
		grid-row: 5;
		padding: 0;
	}

	.weatherTitle{
		margin: 20px;
	}
	.wvcweather {
		width: 180px;
		height: auto;

	}


	footer{
		font-size: 15px;
	}

	.f_heading1{
		padding-right: 3em;
	}

	.footerHeading{
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		
	}
	.copyright{
		font-size: medium;
	}
}