@media only screen and (min-width: 35em) {
	
	.navigation{
		display: block;
	}

	.navigation a{
		font-size: 20px;
		margin: 0;
	}


	body{
		width: auto;
	}
	
	#greetbanner{
		font-size: large;
	}
	

	nav{
		grid-column: 4;
	}

	.social{
		grid-column: 3;
		grid-row: 1;
	}
	.title{
		font-size: 80%;
	}

	.wrapper{
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(5, 250px);
		gap: 10px;
	}

	.hero{
		grid-column: 1/5;
		grid-row: 1;
	}

	.news{
		grid-column: 1/5;
		grid-row: 2;
	}

	.spotlightbox{
		grid-template-columns: 1fr 1fr;
		grid-column: 1/5;
		grid-row: 3;
		padding: 10px;

	}

	.spotlight1, .spotlight2{
		width: auto;
		height: 180px;
	}

	.spot1Des{
		width: 180px;
	}

	.webdev{
		padding: 0;
	}

	.join{
		display: block;
		justify-content: center;
		align-items: center;
		text-align: center;
		grid-column: 1/5;
		grid-row: 4;
		padding: 3em;
	}

	.joinBttn {
		border: 3px solid;
		border-radius: 25px;
		border-color: #467de4;
		background-color: #eeee;
		font-size: large;
		font-style: italic;
		padding: 15px;
		margin: 1em;
	}

	.joinDes {
		font-style: italic;
		font-size: large;
		padding-top: 2em;
		
	}	

	.event{
		
		grid-column: 1/3;
		grid-row: 5;
	}


	.eventDes {
		font-size: larger;
		padding: 0;
	}

	.weather{
		grid-column: 3/5;
		grid-row: 5;
		padding: 0;
	}

	.weatherTitle{
		margin: 20px;
	}
	.wvcweather {
		width: 180px;
		height: auto;

	}

	footer{
		font-size: 15px;
	}

	.f_heading1{
		padding-right: 3em;
	}

	.footerHeading{
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		
	}
	.copyright{
		font-size: medium;
	}

	/* ---------Discover Page CSS--------- */
	.pro-img{
		width: auto;
		height: auto;

	}


	/* ---------Join Page CSS--------- */

	.memberships{
		grid-row:auto;
		width: auto;
		gap: 0;
	}

	.memberships>h2{
		font-size: 18px;
	}

	.memberships>p{
		margin: 0;
	}

	form{
		font-size: medium;
		grid-template-columns: 1fr 1fr;
		gap: 1em;
	}

	form > div{
		width: 400px;
	}

	.thankYou{
		font-size: large;
	}

	.form-section1{
		width: auto;
	}

	/* ---------Directory Page CSS--------- */

	.list p1,p2,p3,p5{
		padding: 0;
	}

	.list{
		padding: 1em;
	}

	.list section>img{
		display: block;
		height: 50px;
	}

	.list section{
		padding: 4em;
		font-size: 12px;
	}

	.list p4{
		display: none;
	}


	.grid section>img{
		height: 130px;
	}

	

}