html{
	font-family: 'Sans-serif', 'Barlow';
}

header{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    background-color: #af4e4e;
    justify-content: center;
    align-items: center;
}

.headerDate{
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #863b3b;
	padding: 30px;
	font-size: 25px;
	font-weight: 400;
	color: #1a1919;
}

.title{
    font-size: 50%;
}

.facebook{
	justify-content: center;
    align-items: center;
	margin-right: 20px;
	text-align: center;
}

.facebook, .linkedIn{
    width: 28px;
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
	grid-column: 3;
    grid-row: 1;
}


footer{
	background-color: #429aff;
	font-size: 10px;
}

.footerHeading{
	display: block;
	justify-content: center;
	align-items: center;
	text-align: center;
	
}

.f_heading1{
	text-align: center;
}

h2{
    margin: 0;
}

.copyright{
    position: relative;
    text-align: center;
    bottom: 0; 
    font-size: smaller;
	margin-right: 30px;
	margin-left: 30px;
	padding: 15px;
	border-top: 1px solid;
	border-color: #0e0e0e;
}





/* ---------Placeholder CSS--------- */

.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 250px);
    gap: 10px;
    margin-top: 1.75em;
    margin-bottom: 1.75em;
    margin-left: 0;
	margin-right: 0;
}

.event, .join, .news{
	border: 1px solid;
	border-color: rgb(196, 196, 196);
	background-color: #af4e4e;
	padding: 1rem;
	
}

.hero{
	text-align: center;
	position: relative;
    grid-row: 1;
}

picture img {
	width: 100%;
	height: 100%;
}

.welcome {
	position: absolute;
	top: 40px;
	left: 50px;
	font-size: xx-large;
	font-weight: 800;
}

.joinchamber {
	position: absolute;
	top: 150px;
	right: 30px;
	background: radial-gradient(#eee, rgb(252, 118, 118));
	border: 1px solid;
	border-radius: 10px;
	padding: 1.5rem;
	opacity: 0.9;
	font-size: larger;
	font-weight: bold;
}

.event{
	display: block;
	justify-content: center;
	align-items: center;
	text-align: center;
    grid-row: 2;
}

.eventTitle {
	font-size: large;
	font-weight: bolder;
	padding: 10px;
	font-style: italic;
	background-color: #eee;
}

.eventDes {
	font-size: 16px;
	font-weight: bold;
	padding: 20px;
	font-style: italic;
	background-color: #863b3b;
}

.westfestlogo{
	width: 60px;
	height: auto;
	padding: 5px;
}


.weather{
	display: block;
	justify-content: center;
	align-items: center;
	text-align: center;
    grid-row: 3;
	background-color: #222222;
	padding: 20px;
	
}

.weatherTitle{
	padding: 20px;
	font-weight: bolder;
	font-size: large;
	font-style: italic;
	background-color: #eee;
}

.wvcweather {
	width: 80%;
	height: auto;
}

.news{
	display: block;
	justify-content: center;
	align-items: center;
	text-align: center;
    grid-row: 4;
}

.newsTitle1{
	font-style: italic;
	padding: 1em;
	background-color: #eee;
}

.newsTitle2{
	font-style: italic;
	font-size: larger;
	padding: 1em;
}


.spotlightbox{
	display: grid;
	justify-content: center;
	align-items: center;
	grid-row: 5/7;
	border: 1px solid;
	border-color: rgb(196, 196, 196);
	background-color: #af4e4e;
	padding: 20px;
	
}

.spotlight1, .spotlight2, .spotlight3{
	width: 450px;
	height: 200px;
	border: 1px solid;
	border-color: #af4e4e;
	background-color: #863b3b;
	padding: 1rem;
}

.recpic{
	object-fit: cover;
	width: 100%;
	height: 100%;
	
}

.spot1Des{
	position: absolute;
	padding: 20px;
	font-size: larger;
	font-style: italic;
	text-shadow: 0 0 10px #0e0e0e;
	color: #eee;
	box-shadow: 0 0 50px #0e0e0e;
	background-color: #863b3b81;
}

.spotlight2 {
	display: block;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.spot2Des{
	padding: 20px;
	font-size: larger;
	font-style: italic;
	text-shadow: 0 0 10px #0e0e0e;
	color: #eee;
	box-shadow: 0 0 50px #0e0e0e;
	background-color: #863b3b81;
}

.webdev{
	width: 64px;
	height: 64px;
	padding: 20px;
}

.spotlight3 {
	display: block;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.spot3Des{
	padding: 20px;
	font-size: larger;
	font-style: italic;
	text-shadow: 0 0 10px #0e0e0e;
	color: #eee;
	box-shadow: 0 0 50px #0e0e0e;
	background-color: #863b3b81;
}

.woodshop{
	width: 64px;
	height: 64px;
	padding: 20px;
}

.contactinfo{
	font-style: italic;
	border-top: 1px solid #000;
}

.spotlightbox div:nth-child(3){
    display: none;
}

.join{
    display: none;
}




/* -------Nav CSS-------- */

nav {
    grid-column: 4;
	margin: 0 auto;
	max-width: 760px;
	
}
.navigation {
	display: block;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 8px;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: 16px;
	border-radius: 20px;
}

.navigation a:hover {
	color: white;
	background-color: #af4e4e;
	border-radius: 20px;
}	


.responsive li {
	display: block;
}
