html{
	font-family: 'Dosis', sans-serif;
	font-family: 'Open Sans', sans-serif;
	
}

#greetbanner{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	grid-column: 2/4;
	font-size: small;
	font-weight: bold;
	background-color: #91caff;
	padding: 1em;
}

.titleDesc, .titleMain{
	margin: 0;
}

.titleDesc{
	font-size: large;
}

header{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #c0e0f3;
    justify-content: center;
    align-items: center;
	
}

.headerDate{
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #f5f7a6;
	padding: 15px;
	font-size: 25px;
	font-weight: 400;
	color: #1a1919;
}

.title{
    font-size: 50%;
}

.facebook{
	justify-content: center;
    align-items: center;
	margin-right: 10px;
	text-align: center;
}

.facebook, .linkedIn{
    width: 28px;
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
	grid-column: 3;
    grid-row: 1;
}


footer{
	background-color: #c0e0f3;
	font-size: 10px;
}

.footerHeading{
	display: block;
	justify-content: center;
	align-items: center;
	text-align: center;
	
}

.f_heading1{
	text-align: center;
	font-size: medium;
}

.footerDes{
	font-size: medium;
	padding: 10px;
}

h2{
    margin: 0;
}

.copyright{
    position: relative;
    text-align: center;
    bottom: 0; 
    font-size: smaller;
	margin-right: 30px;
	margin-left: 30px;
	padding: 15px;
	border-top: 1px solid;
	border-color: #0e0e0e;
	font-size: medium;
}





/* ---------Placeholder CSS--------- */

.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 0;
	margin-right: 0;
}

.event, .join, .news, .weather{
	background-color: #ffffff;
	padding: 1rem;
	border: 1px solid black;
	margin: .5em;
	
}

.hero{
	text-align: center;
	position: relative;
    grid-row: 1;
}

.welcome {
	position: absolute;
	top: 40px;
	left: 50px;
	font-size: xx-large;
	font-weight: 800;
	
}

.joinchamber {
	position: absolute;
	top: 150px;
	right: 30px;
	background: #8bc7f8fb;
	
	border-radius: 35px;
	padding: 1.5rem;
	font-size: larger;
	font-weight: bold;
}

.event{
	display: block;
	justify-content: center;
	align-items: center;
	text-align: center;
    grid-row: 2;
}

.eventTitle {
	font-size: large;
	font-weight: bolder;
	padding: 10px;
	background-color: #93cbff;
}

.eventDes {
	font-size: 16px;
	font-weight: bold;
	padding: 20px;
	font-style: italic;
	background-color: #93cbff;
}

.westfestlogo{
	width: 70px;
	height: auto;
	padding: 5px;
}


.weather{
	display: block;
	justify-content: center;
	align-items: center;
	text-align: center;
    grid-row: 3;
	padding: 25px;
	
}

.weatherTitle{
	padding: 20px;
	font-weight: bolder;
	font-size: large;
	background-color: #93cbff;
}

.wvcweather {
	width: min-content;
}

.windchill, .temp, .windspeed, .weathertype {
	color:#000000;
}

.news{
	display: block;
	justify-content: center;
	align-items: center;
	text-align: center;
    grid-row: 4;
}

.newsTitle1{
	padding: 1em;
	font-weight: bolder;
	background-color: #93cbff;
}

.newsTitle2{
	font-size: larger;
	font-weight: bolder;
	padding: .7em;
}

.newsDes{
	
	font-size: 18px;
}


.spotlightbox{
	display: grid;
	justify-content: center;
	align-items: center;
	grid-row: 5/7;
	border: 1px solid black;
	margin: .5em;
	
	
}

.spotlight1, .spotlight2, .spotlight3{
	width: 450px;
	height: 200px;
	border: 1px solid;
	border-color: #000000;
	background-color: #ffffff;
	padding: 1rem;
}

.recpic{
	object-fit: cover;
	width: 100%;
	height: 100%;
	
}

.spot1Des{
	position: absolute;
	padding: 18px;
	font-size: larger;
	font-weight: bold;
	color: rgb(255, 255, 255);
	background-color: #0456999d;
}

.spotlight2 {
	display: block;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.spot2Des{
	padding: 20px;
	font-size: larger;
	font-weight: bold;
	color: rgb(0, 0, 0);
	
	background-color: #93cbff;
}

.webdev{
	width: 64px;
	height: 64px;
	padding: 20px;
}

.spotlight3 {
	display: block;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.spot3Des{
	padding: 20px;
	font-size: larger;
	font-weight: bold;
	color: rgb(0, 0, 0);
	
	background-color: #93cbff;
}

.woodshop{
	width: 64px;
	height: 64px;
	padding: 20px;
}

.contactinfo{
	font-style: italic;
	border-top: 1px solid #000;
}

.spotlightbox div:nth-child(3){
    display: none;
}

.join{
    display: none;
}




/* -------Nav CSS-------- */

nav {
    grid-column: 4;
	margin-left: 4em;
	margin-right: 4em;
}
.navigation {
	display: block;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 8px;
	text-align: left;
	text-decoration: none;
	color: black;
	transition: 0.4s;
	font-size: 14px;
	border-radius: 10px;
}

.navigation a:hover {
	color: white;
	background-color: #4c7cd6;
}	

.responsive li {
	display: block;
}


/* ---------Discover Page CSS--------- */











