
header{
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: grid;
    justify-content: center;
    align-items: center;
}

img {
    margin: 20px;
}


img[data-src]{
    filter: blur(0.3em);
    
}

img{
    filter: blur(0em);
    transition: filter 0.8s;
}

