html{
    font-family: 'Sans-serif', 'Barlow';
}

.title{
    grid-column: 2;
    grid-row: 1;
    color: rgb(0, 0, 0);
}

.t_title{
    font-weight: bolder;
}

h2{
    color: rgb(0, 0, 0); 
}

img{
    grid-row: 1;
    grid-column: 1;
    max-width: 300px;
}

header{
    display: grid;
    grid-template-columns: 300px auto;
    justify-content: left;
    align-items: center;
    background-color: #af4e4e; 
}

main{
    padding-bottom: 2em;
}


.scenarios{
    padding-top: 2em;
}

.info{
    padding-left: 2em;
}

footer{
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: #429aff; 
    font-weight: bold;
}

table{
    position: fixed;
}

nav button{
    
    background: transparent;
    font-size: 2rem;
    color: rgb(85, 85, 85);
}

nav {
    background-color: #eeeeee;
    margin-bottom: 3em;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a{
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333;
}

nav ul li a:active{
    background-color: #00000033;
    color: #fff;
}

nav ul li a:hover{
    background-color: #0000004d;
}


